body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: white;
}

article {
    width: 830px;
    background-color: rgb(51, 102, 153);
    border-radius: 16px;
    padding: 36px;
    margin: 54px;
    text-indent: 40px;
    color: white;
}

article h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}