body {
    padding: 0;
    background-color: #b7d7e8;
}

nav {
    background-color: #dceaf4;
    border-radius: 3px;
    border: 1px solid #c4cfd2;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 10px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
}

article p a {
    font-size: 15px;
}

section {
    margin-left: 8px;
    padding-bottom: 15px;
}

article {
    display: table-cell;
    width: 50%;
    padding: 20px;
    background-color: #dceaf4;
    border: 10px solid #b7d7e8;
}

footer {
    margin-left: 5px;
    padding-left: 15px;
    background-color: #dceaf4;
    border: 1px solid #c4cfd2;
    border-radius: 3px;
}