@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

body {
    background-color: #e5e4e4;
    padding: 30px;
}

.button {
    background-color: #e5e4e4;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 15px;
    color: rgb(51, 51, 51);
    font-weight: 400;
}

.fill {
    background-color: rgb(51, 51, 51);
    color: white;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: 200;
}

button:last-child:hover {
    background-color: green;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    outline: none;
}